*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}

a{

    padding: 1em 4em;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    background-color: rgb(235, 102, 102);
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;

}




.txt-orange{
    color:orange;
}
.head-space{
    margin-top: 130px;
}

#me{

    background-image: url(images/shapes/shape-4.png);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 200px;
}

#stay h1{
    font-size: 50px;
    border-left:4px solid rgb(230, 66, 66);
    border-image-slice: 1;
    margin: 0px;
    padding: 0%;
    padding-left: 13px;
   
}
#stay p{
    
    border-left:4px solid rgb(230, 66, 66);
    border-image-slice: 1;
    margin: 0px;
    color: black;
    margin-top: 15px;
   
}

#mission{
    text-align: center;
    font-size: 22px;
    color: rgb(8, 10, 48);
}
.mission{
    display: flex;
    padding: 125px;
    padding-top: 10px;



}
.mission h1{
    font-size: xx-large;
    padding-bottom: 8px;

}

.mission img{
 height: 135px;
}
.mission p{
    color: rgb(80, 79, 79);
    font-size: 19px;
}
.mission-t{
    background-color: gray;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    height: 350px;
  
    overflow: hidden;
   

}

#m-1{
    background-color: rgba(173, 216, 230, 0.26);
}
#m-2{
    background-color: rgba(255, 182, 193, 0.226);
}
#m-3{
    background-color: rgba(245, 245, 197, 0.473);
}





#mission{
    text-align: center;
    font-size: 22px;
    color: rgb(8, 10, 48);
}
.blogs{
    display: flex;
    padding: 125px;
    padding-top: 10px;
    margin: 25px 5px;



}
.blogs h1{
    font-size: xx-large;
    padding-bottom: 8px;
    color: rgb(10, 10, 54);

}

.blogs p{
    color: rgb(80, 79, 79);
    font-size: 19px;
}
.blog-t{
 text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    height: 350px;
   

}

#b-1{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#b-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#b-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* .develop{
    background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
   background-size:cover;

} */

#community-1{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
   background-position: left;
   background-size: 300px ;
}
#community-2{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
   background-position: right;
   background-size: 300px ;

}
.develop{
    display:flex;
     height: 450px;


}
.develop h1{
        font-size: xx-large;
        padding-bottom: 8px;
    
}
.develop p{
    color: rgb(80, 79, 79);
    font-size: 19px;
}
.develop img{
    height: 400px;
}
.half-width{
   height: 100%;
    width: 50%;
    padding-left: 5rem;
    margin: 3%;

    
   
}

p{
    text-align: justify;
}


footer{
    background-color: rgb(1, 1, 7);
    text-align: center;
    padding: 50px;
    color: white;
}
footer h1{
    font-family: cursive;
    padding-bottom: 35px;
}